.spotlight-card {
  position: relative;
  border-radius: 1.5rem;
  background: rgba(17, 17, 17, 0.5);
  backdrop-filter: blur(24px);
  --x: -1000px;
  --y: -1000px;
  --spotlight-color: rgba(255, 255, 255, 0.5);
}

.spotlight-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1.5px; /* Border thickness */
  background: radial-gradient(
    400px circle at var(--x) var(--y),
    var(--spotlight-color),
    transparent 40%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 1;
}

.spotlight-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(
    600px circle at var(--x) var(--y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  pointer-events: none;
  z-index: 0;
}
